body{
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.container .row{
    display: flex;
    flex-wrap: wrap;
}
.row .col-1{width: 8.33333333%;} 
.row .col-2{width: 16.66666667%;} 
.row .col-3{width: 25%;} 
.row .col-4{width: 33.33333333%;} 
.row .col-5{width: 41.66666667%;} 
.row .col-6{width: 50%;} 
.row .col-7{width: 58.33333333%;} 
.row .col-8{width: 66.66666667%;} 
.row .col-9{width: 75%;} 
.row .col-10{width: 83.33333333%;} 
.row .col-11{width: 91.66666667%;} 
.row .col-12{width: 100%;}

header{
    background: url(../images/bg.jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 769px;
}
header a{
    display: flex;
    margin-top: 42px;
    justify-content: center;
}

header .row{
    display: flex;
    justify-content: center;
}
header .title{
    margin: 0 auto;
    margin-top: 318px;
    text-align: center;
}
h1{
    font-family: "Bebas Neue";
    font-size: 60px;
    letter-spacing: 5.70937px;
    color: #FFFFFF;
    margin: 0 auto;
    }
header .subtitle h2{
    margin: 0 auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
}
header .button a{
    margin-top: 242px;
    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
}
nav{
    border: 1px solid #E6E6E6;
}
nav .row {
    align-items: center;
    height: 65px;
}
nav .links{
    display: flex;
    justify-content:space-evenly;

}
nav a{
    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1.09091px;
    color: #48555B;
}
nav a:hover{
    color:#00A4E5 ;
}
.story h2{
    margin-top: 57px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.story hr,
.capabilities hr{
    width: 50px;
    border: 1px solid ;
    margin-top: 10px;
}
.story hr{
    margin: 10px auto 0 auto ;
}
.blue{
    color:#00A4E5;
}
.story-descr{
    margin-top: 55px ;
}
.story-pic{
    display: flex;
    justify-content: end;
    margin-top: 84px ;
}
.story .img{
    width: 140px;
    height: 225px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
    padding-top: 15px;
    padding-left: 14px;
    margin-left: auto;
}
.story-pic .img:nth-child(1){
    background: url(../images/plan.jpg) no-repeat;

}
.story-pic .img:nth-child(2){
    background: url(../images/manage.jpg) no-repeat;
}
.story-pic .img:nth-child(3){
    background: url(../images/build.jpg) no-repeat;
}
.story .subtitle{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.story .subtitle span{
    color:#00A4E5;
    font-weight: bold;
    font-size: 20px;
}
.story .text{
    margin-top: 30px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}
.capabilities{
    margin-top: 119px;
}
.capabilities h2{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}
.capabilities .text{
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.capabilities .button{
    display: flex;
    justify-content: end;

}
.capabilities .button a{
    width: 150px;
    height: 40px;
    background: #00A4E5;
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}